#logo{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

label{
	display:inline-block;
	text-align:right;
	width:200px;
}

body{
	text-align:center;
    background-image: url('../img/Diet Impact Background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%;
}
td{
	background-color:white;
}
#login{
	margin:0 auto;
	text-align:right;
	color:black;
	text-shadow:1px 1px #87ceeb;
}
#login_text{
  display:inline-block;
}
#Goals{
	margin:0 auto;
}
#Diary{
	margin:0 auto;
	color:black;
	font-weight:bold;
}
#search_field_div{
	margin:0 auto;
	color:black;
	text-shadow:1px 1px #87ceeb;
}
th{
	font-family: georgia;
	background: -webkit-gradient(linear, center top, center bottom, from(#87ceeb), to(#FFFFFF0));
	background: -webkit-linear-gradient(#87ceeb, #FFFFFF);
	background: -moz-linear-gradient(#87ceeb, #FFFFFF);
	background: -o-linear-gradient(#87ceeb, #FFFFFF);
	background: -ms-linear-gradient(#87ceeb, #FFFFFF);
	background: linear-gradient(#87ceeb, #FFFFFF);
}
div{
	color:black;
	font-weight:bold;
}
button{
	color:black;
	text-shadow: none;
}
table{
	margin:0 auto;
	color:black;
	text-shadow: none;
	tbody{
		tr:nth-child(even) { 
  			background-color: #DDDDDD; 
  		}
	}
}
#search_field{
	margin-top:0px;
	margin-bottom:0px;
}
#search_button{
	margin-top:0px;
	margin-bottom:0px;
}
#username_login{
	margin-top:0px;
	margin-bottom:0px;
	width: 150px;
}
#password_login{
	margin-top:0px;
	margin-bottom:0px;
	width: 150px;
}
button{
	margin-top:3px;
	margin-bottom:5px;
	height:25px;
	width:120px;
	color: black;
	font-family: georgia;
	font-style: bold;
	font-size: 12px;
	letter-spacing: 0.07em;
	background: -webkit-gradient(linear, center top, center bottom, from(#87ceeb), to(#FFFFFF0));
	background: -webkit-linear-gradient(#87ceeb, #FFFFFF);
	background: -moz-linear-gradient(#87ceeb, #FFFFFF);
	background: -o-linear-gradient(#87ceeb, #FFFFFF);
	background: -ms-linear-gradient(#87ceeb, #FFFFFF);
	background: linear-gradient(#87ceeb, #FFFFFF);
}
#graphs_button {
	width: 200px;
}
input{
	margin-top:0px;
	margin-bottom:0px;
	font-family: georgia;
	font-size:12px;
}
#title{
	height:188px;
}

#Graphs{
	
}
#amount{
	text-shadow:
	-1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
	color:#87ceeb;
}

#search_table{
	max-width: 750px;
	max-height: 345px;
	display: block;
	overflow: auto;
	thead{
		tr{
			position:relative;
			display:block;
		}
	}
	tbody{
		width:100%;
 		height: 370px;
  		display: block;
  		overflow: auto;
  		tr:nth-child(even) { 
  			background-color: #DDDDDD; 
  		}	
	}
	td{
  			width: 650px;
  	}
}

#PAGE_TITLE{
	margin-top: 5%;
	color:black;
	font-size: 36px;
	font-family: Stencil Std, fantasy;
}

#PAGE_DESCRIPTION{
	margin-top:1%;
	color:black;
	font-size: 18px;
}


